/*header*/
.seccion2 {background-image: url("img/bowl-and-pet-daities-on-green-background\ 1.png"); width: cover; height: 409px; }
.seccion1 {background-color: #F0A83E}
.navegador {text-align: right; color: white; background-color: black}
p {text-align: left}
ul {text-align: left}
.icono1 {i: src="img/pawprint\ 1.png"}
#patita {position: center}
h1 {}


/*header*/
/*main*/
main {background-color: gray}
/*main*/
/*footer*/
/*footer*/
